@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TP4</h1>
    <a href='@Url.Action("SelectIndumentaria")'><h2>Añadir Indumentaria</h2></a>
    <br>
    @foreach (string key in ViewBag.DicEquipos.Keys)
    {
        <div>
            <h3>@key</h3>
            <img src="/imgs/remeras/@ViewBag.DicEquipos[key].Remera" alt="Remera" height="100"><br>
            <img src="/imgs/pantalones/@ViewBag.DicEquipos[key].Pantalon" alt="Pantalon" height="100"><br>
            <img src="/imgs/medias/@ViewBag.DicEquipos[key].Medias" alt="Medias" height="100">
        </div>
    }
</body>
</html>